In [1]:
import pandas as pd

### 1.데이터 알아보기

In [2]:
# 데이터를 읽어올 웹페이지 주소
site = 'http://www.basketball-reference.com/leagues/NBA_2018_games.html'

In [3]:
# 지정된 웹 문서를 통해 table 태그를 리스트 생성한다
tables = pd.read_html(site)

In [4]:
tables[0].to_csv('data/nav_2018.csv',index=False)

### 2.데이터파악하기

In [5]:
df1 = pd.read_csv('data/nav_2018.csv')
df1

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN
...,...,...,...,...,...,...,...,...,...,...
99,"Mon, Oct 30, 2017",10:30p,Golden State Warriors,141,Los Angeles Clippers,113,Box Score,NaN,19068,NaN
100,"Tue, Oct 31, 2017",7:00p,Sacramento Kings,83,Indiana Pacers,101,Box Score,NaN,12245,NaN
101,"Tue, Oct 31, 2017",7:30p,Phoenix Suns,122,Brooklyn Nets,114,Box Score,NaN,12936,NaN
102,"Tue, Oct 31, 2017",8:00p,Oklahoma City Thunder,110,Milwaukee Bucks,91,Box Score,NaN,16713,NaN
103,"Tue, Oct 31, 2017",10:30p,Detroit Pistons,93,Los Angeles Lakers,113,Box Score,NaN,17569,NaN

In [6]:
# 데이터프레임의 요약정보
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             104 non-null    object
 1   Start (ET)       104 non-null    object
 2   Visitor/Neutral  104 non-null    object
 3   PTS              104 non-null    int64
 4   Home/Neutral     104 non-null    object
 5   PTS.1            104 non-null    int64
 6   Unnamed: 6       104 non-null    object
 7   Unnamed: 7       2 non-null      object
 8   Attend.          104 non-null    int64
 9   Notes            0 non-null      float64
dtypes: float64(1), int64(3), object(6)
memory usage: 8.2+ KB

In [7]:
# 로우와 컬럼의 수
df1.shape

(104, 10)

### 03.데이터 전처리

In [8]:
# 데이터프레임의 컬럼이름을 가져온다
df1.columns

Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1',
       'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Notes'],
      dtype='object')

In [9]:
# 컬럼이름을 변경한다
df1.columns =['경기일자','시작시간','어웨이팀','어웨이팀점수','홈팀','홈팀점수','BOX','연장전여부','관중수','Note']

In [10]:
df1

,경기일자,시작시간,어웨이팀,어웨이팀점수,홈팀,홈팀점수,BOX,연장전여부,관중수,Note
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN
...,...,...,...,...,...,...,...,...,...,...
99,"Mon, Oct 30, 2017",10:30p,Golden State Warriors,141,Los Angeles Clippers,113,Box Score,NaN,19068,NaN
100,"Tue, Oct 31, 2017",7:00p,Sacramento Kings,83,Indiana Pacers,101,Box Score,NaN,12245,NaN
101,"Tue, Oct 31, 2017",7:30p,Phoenix Suns,122,Brooklyn Nets,114,Box Score,NaN,12936,NaN
102,"Tue, Oct 31, 2017",8:00p,Oklahoma City Thunder,110,Milwaukee Bucks,91,Box Score,NaN,16713,NaN
103,"Tue, Oct 31, 2017",10:30p,Detroit Pistons,93,Los Angeles Lakers,113,Box Score,NaN,17569,NaN

In [11]:
# 결측치 확인
df1.isna().sum()

경기일자        0
시작시간        0
어웨이팀        0
어웨이팀점수      0
홈팀          0
홈팀점수        0
BOX         0
연장전여부     102
관중수         0
Note      104
dtype: int64

In [12]:
# 연장전여부 컬럼의 저장되어 있는 값을 확인한다
df1['연장전여부'].value_counts()

OT    2
Name: 연장전여부, dtype: int64

In [13]:
# 연장전여부 컬럼의 결측치를 not으로 변경
df1['연장전여부'].fillna('not',inplace = True)

In [14]:
df1['연장전여부'].value_counts()

not    102
OT       2
Name: 연장전여부, dtype: int64

In [15]:
# 날짜 데이터를 원하는 양식으로 변경
a1 = pd.to_datetime(df1['경기일자'],format = '%a, %b %d, %Y')

In [16]:
df1['경기일자'] = a1

In [17]:
# 노트컬럼제거
df1_na = df1.drop('Note',axis = 1)

In [18]:
df1_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   경기일자    104 non-null    datetime64[ns]
 1   시작시간    104 non-null    object
 2   어웨이팀    104 non-null    object
 3   어웨이팀점수  104 non-null    int64
 4   홈팀      104 non-null    object
 5   홈팀점수    104 non-null    int64
 6   BOX     104 non-null    object
 7   연장전여부   104 non-null    object
 8   관중수     104 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 7.4+ KB

### 필요한 열만 추출해서 정리하기

In [21]:
a1 = ['경기일자','어웨이팀','어웨이팀점수','홈팀','홈팀점수']
games_nae = df1_na[a1]
games_nae

          경기일자                   어웨이팀  어웨이팀점수                     홈팀  홈팀점수
0   2017-10-17         Boston Celtics      99    Cleveland Cavaliers   102
1   2017-10-17        Houston Rockets     122  Golden State Warriors   121
2   2017-10-18      Charlotte Hornets      90        Detroit Pistons   102
3   2017-10-18          Brooklyn Nets     131         Indiana Pacers   140
4   2017-10-18             Miami Heat     109          Orlando Magic   116
..         ...                    ...     ...                    ...   ...
99  2017-10-30  Golden State Warriors     141   Los Angeles Clippers   113
100 2017-10-31       Sacramento Kings      83         Indiana Pacers   101
101 2017-10-31           Phoenix Suns     122          Brooklyn Nets   114
102 2017-10-31  Oklahoma City Thunder     110        Milwaukee Bucks    91
103 2017-10-31        Detroit Pistons      93     Los Angeles Lakers   113

[104 rows x 5 columns]

In [23]:
# 경기일자 컬럼을 인덱스로 지정한다
# set_index = 지정된 컬럼을 인덱스로 지정한다
# append = True : 이전 인덱스를 유지하고 추가로 인덱스를 설정한다
games_naes = games_nae.set_index('경기일자',append = True)
games_naes

                                 어웨이팀  어웨이팀점수                     홈팀  홈팀점수
    경기일자
0   2017-10-17         Boston Celtics      99    Cleveland Cavaliers   102
1   2017-10-17        Houston Rockets     122  Golden State Warriors   121
2   2017-10-18      Charlotte Hornets      90        Detroit Pistons   102
3   2017-10-18          Brooklyn Nets     131         Indiana Pacers   140
4   2017-10-18             Miami Heat     109          Orlando Magic   116
...                               ...     ...                    ...   ...
99  2017-10-30  Golden State Warriors     141   Los Angeles Clippers   113
100 2017-10-31       Sacramento Kings      83         Indiana Pacers   101
101 2017-10-31           Phoenix Suns     122          Brooklyn Nets   114
102 2017-10-31  Oklahoma City Thunder     110        Milwaukee Bucks    91
103 2017-10-31        Detroit Pistons      93     Los Angeles Lakers   113

[104 rows x 4 columns]

In [24]:
# 인덱스 이름을 설정해준다
games_naesr = games_naes.rename_axis(['게임','경기일자'])
games_naesr

                                 어웨이팀  어웨이팀점수                     홈팀  홈팀점수
게임  경기일자
0   2017-10-17         Boston Celtics      99    Cleveland Cavaliers   102
1   2017-10-17        Houston Rockets     122  Golden State Warriors   121
2   2017-10-18      Charlotte Hornets      90        Detroit Pistons   102
3   2017-10-18          Brooklyn Nets     131         Indiana Pacers   140
4   2017-10-18             Miami Heat     109          Orlando Magic   116
...                               ...     ...                    ...   ...
99  2017-10-30  Golden State Warriors     141   Los Angeles Clippers   113
100 2017-10-31       Sacramento Kings      83         Indiana Pacers   101
101 2017-10-31           Phoenix Suns     122          Brooklyn Nets   114
102 2017-10-31  Oklahoma City Thunder     110        Milwaukee Bucks    91
103 2017-10-31        Detroit Pistons      93     Los Angeles Lakers   113

[104 rows x 4 columns]

### 데이터 전처리 체이닝처리

In [52]:
a1 = {
    'Date' : '경기일자',
    'Start (ET)' : '시작시간',
    'Visitor/Neutral' : '방문팀',
    'PTS' : '방문팀점수',
    'Home/Neutral' : '홈팀',
    'PTS.1' : '홈팀점수',
    'Unnamed: 6' : 'Box',
    'Unnamed: 7' : '연장전여부',
    'Attend' : '관중수',
    'Notes' : 'Notes'
}

# 날짜를 원하는 양식으로 만들어 다시설정
# 경기날짜를 인덱스로 추가
# 원하는 컬럼만 가져오기
games_all = pd.read_csv('data/nav_2018.csv') \
                .rename(columns=a1,)
games_all = games_all\
[['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]\
.assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format\
                                      = '%a, %b %d, %Y'))\
.set_index('경기일자',append = True)\
.rename_axis(['게임','경기일자'])

In [54]:
games_all

                                  방문팀  방문팀점수                     홈팀  홈팀점수
게임  경기일자
0   2017-10-17         Boston Celtics     99    Cleveland Cavaliers   102
1   2017-10-17        Houston Rockets    122  Golden State Warriors   121
2   2017-10-18      Charlotte Hornets     90        Detroit Pistons   102
3   2017-10-18          Brooklyn Nets    131         Indiana Pacers   140
4   2017-10-18             Miami Heat    109          Orlando Magic   116
...                               ...    ...                    ...   ...
99  2017-10-30  Golden State Warriors    141   Los Angeles Clippers   113
100 2017-10-31       Sacramento Kings     83         Indiana Pacers   101
101 2017-10-31           Phoenix Suns    122          Brooklyn Nets   114
102 2017-10-31  Oklahoma City Thunder    110        Milwaukee Bucks    91
103 2017-10-31        Detroit Pistons     93     Los Angeles Lakers   113

[104 rows x 4 columns]

### 데이터 조정해서 확정하기

In [35]:
df = pd.DataFrame({
    'A':['a1','a2','a3','a4'],
    'B':['b1','b2','b3','b4'],
    'C':[1,2,3,4],
    'D':[100,200,300,400]
})
df

    A   B  C    D
0  a1  b1  1  100
1  a2  b2  2  200
2  a3  b3  3  300
3  a4  b4  4  400

In [38]:
df.melt(id_vars='A',value_vars=['B','C'])

    A variable value
0  a1        B    b1
1  a2        B    b2
2  a3        B    b3
3  a4        B    b4
4  a1        C     1
5  a2        C     2
6  a3        C     3
7  a4        C     4

In [55]:
# 인덱스를 다시설정한다
a1=games_all.reset_index()
a1

      게임       경기일자                    방문팀  방문팀점수                     홈팀  홈팀점수
0      0 2017-10-17         Boston Celtics     99    Cleveland Cavaliers   102
1      1 2017-10-17        Houston Rockets    122  Golden State Warriors   121
2      2 2017-10-18      Charlotte Hornets     90        Detroit Pistons   102
3      3 2017-10-18          Brooklyn Nets    131         Indiana Pacers   140
4      4 2017-10-18             Miami Heat    109          Orlando Magic   116
..   ...        ...                    ...    ...                    ...   ...
99    99 2017-10-30  Golden State Warriors    141   Los Angeles Clippers   113
100  100 2017-10-31       Sacramento Kings     83         Indiana Pacers   101
101  101 2017-10-31           Phoenix Suns    122          Brooklyn Nets   114
102  102 2017-10-31  Oklahoma City Thunder    110        Milwaukee Bucks    91
103  103 2017-10-31        Detroit Pistons     93     Los Angeles Lakers   113

[104 rows x 6 columns]

In [58]:
tidy = pd.melt(a1,id_vars=['게임','경기일자'],value_vars = ['방문팀','홈팀'])

In [59]:
tidy.query('경기일자 == "2017-10-17"')

     게임       경기일자 variable                  value
0     0 2017-10-17      방문팀         Boston Celtics
1     1 2017-10-17      방문팀        Houston Rockets
104   0 2017-10-17       홈팀    Cleveland Cavaliers
105   1 2017-10-17       홈팀  Golden State Warriors

In [60]:
tidy.head()

   게임       경기일자 variable              value
0   0 2017-10-17      방문팀     Boston Celtics
1   1 2017-10-17      방문팀    Houston Rockets
2   2 2017-10-18      방문팀  Charlotte Hornets
3   3 2017-10-18      방문팀      Brooklyn Nets
4   4 2017-10-18      방문팀         Miami Heat

In [62]:
# 날짜별 경기수
# 경기일자 타입을 파악
tidy.경기일자.dtype

dtype('<M8[ns]')

In [71]:
tidy.groupby('value')['경기일자'].diff()

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
       ...
203   2 days
204   2 days
205   2 days
206   5 days
207   4 days
Name: 경기일자, Length: 208, dtype: timedelta64[ns]

In [108]:
tidy.rename(columns = {'value':'팀','variable':'팀구분'},inplace = True)

In [109]:
# 팀별 경기일자
tidy.groupby('팀')['경기일자'].count()

팀
Atlanta Hawks             7
Boston Celtics            7
Brooklyn Nets             8
Charlotte Hornets         7
Chicago Bulls             5
Cleveland Cavaliers       7
Dallas Mavericks          8
Denver Nuggets            7
Detroit Pistons           8
Golden State Warriors     8
Houston Rockets           8
Indiana Pacers            7
Los Angeles Clippers      6
Los Angeles Lakers        7
Memphis Grizzlies         7
Miami Heat                6
Milwaukee Bucks           7
Minnesota Timberwolves    7
New Orleans Pelicans      7
New York Knicks           6
Oklahoma City Thunder     7
Orlando Magic             7
Philadelphia 76ers        7
Phoenix Suns              7
Portland Trail Blazers    7
Sacramento Kings          7
San Antonio Spurs         7
Toronto Raptors           6
Utah Jazz                 7
Washington Wizards        6
Name: 경기일자, dtype: int64

In [110]:
# nan : not a number
# nat : not a Time
# 첫번쨰로우는 무조건 결측치
tidy.groupby('팀')['경기일자'].diff()

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
       ...
203   2 days
204   2 days
205   2 days
206   5 days
207   4 days
Name: 경기일자, Length: 208, dtype: timedelta64[ns]

In [85]:
a1 = tidy.groupby('팀')['경기일자'].diff().dt.days==1
tidy['경기일자'][a1]

12    2017-10-18
28    2017-10-21
30    2017-10-21
32    2017-10-21
33    2017-10-21
34    2017-10-21
41    2017-10-23
59    2017-10-25
61    2017-10-25
77    2017-10-28
78    2017-10-28
90    2017-10-29
91    2017-10-30
93    2017-10-30
96    2017-10-30
137   2017-10-21
175   2017-10-27
Name: 경기일자, dtype: datetime64[ns]

In [86]:
ab = tidy.groupby('팀')['경기일자'].diff().dt.days -1

In [87]:
ab.shape

(208,)

In [88]:
ab.isnull().sum()

30

In [94]:
# 경기일자를 기준으로 정렬
a1 = tidy.sort_values('경기일자')
# 팀을 기준으로 그룹을 묶는다
a2 = a1.groupby('팀')
# 경기일자를 기준으로 차이값을 구한다
a3 = a2.경기일자.diff()
# a3에서 -1해서 휴식일을 구한다
tidy['휴식일'] = a3.dt.days-1

In [101]:
a2['경기일자']

0        NaT
1        NaT
104      NaT
105      NaT
109      NaT
       ...
102   3 days
101   3 days
100   2 days
206   2 days
207   3 days
Name: 경기일자, Length: 208, dtype: timedelta64[ns]

In [104]:
tidy.isna().sum()

게임           0
경기일자         0
variable     0
팀            0
휴식일         30
dtype: int64

In [105]:
# 결측치에 0을 셋팅한다
tidy = tidy.fillna(0)
tidy

      게임       경기일자 variable                     팀  휴식일
0      0 2017-10-17      방문팀        Boston Celtics  0.0
1      1 2017-10-17      방문팀       Houston Rockets  0.0
2      2 2017-10-18      방문팀     Charlotte Hornets  0.0
3      3 2017-10-18      방문팀         Brooklyn Nets  0.0
4      4 2017-10-18      방문팀            Miami Heat  0.0
..   ...        ...      ...                   ...  ...
203   99 2017-10-30       홈팀  Los Angeles Clippers  1.0
204  100 2017-10-31       홈팀        Indiana Pacers  1.0
205  101 2017-10-31       홈팀         Brooklyn Nets  1.0
206  102 2017-10-31       홈팀       Milwaukee Bucks  1.0
207  103 2017-10-31       홈팀    Los Angeles Lakers  2.0

[208 rows x 5 columns]

In [111]:
# pivot테이블을 구한다
by_game = pd.pivot_table(tidy, values = '휴식일',
                        index = ['게임','경기일자'],
                        columns = '팀구분')

In [113]:
by_game

팀구분             방문팀   홈팀
게임  경기일자
0   2017-10-17  0.0  0.0
1   2017-10-17  0.0  0.0
2   2017-10-18  0.0  0.0
3   2017-10-18  0.0  0.0
4   2017-10-18  0.0  0.0
...             ...  ...
99  2017-10-30  0.0  1.0
100 2017-10-31  1.0  1.0
101 2017-10-31  2.0  1.0
102 2017-10-31  2.0  1.0
103 2017-10-31  1.0  2.0

[104 rows x 2 columns]

In [114]:
# 컬럼 이름 변경
a1 = {
    '방문팀':'방문팀 휴식일',
    '홈팀':'홈팀휴식일'
}

by_game = by_game.rename(columns = a1)
by_game

팀구분             방문팀 휴식일  홈팀휴식일
게임  경기일자
0   2017-10-17      0.0    0.0
1   2017-10-17      0.0    0.0
2   2017-10-18      0.0    0.0
3   2017-10-18      0.0    0.0
4   2017-10-18      0.0    0.0
...                 ...    ...
99  2017-10-30      0.0    1.0
100 2017-10-31      1.0    1.0
101 2017-10-31      2.0    1.0
102 2017-10-31      2.0    1.0
103 2017-10-31      1.0    2.0

[104 rows x 2 columns]

In [115]:
# 원본과 합친다
df = pd.concat([games_all, by_game], axis = 1)
df

,,방문팀,방문팀점수,홈팀,홈팀점수,방문팀 휴식일,홈팀휴식일
게임,경기일자,,,,,,
0,2017-10-17,Boston Celtics,99,Cleveland Cavaliers,102,0.0,0.0
1,2017-10-17,Houston Rockets,122,Golden State Warriors,121,0.0,0.0
2,2017-10-18,Charlotte Hornets,90,Detroit Pistons,102,0.0,0.0
3,2017-10-18,Brooklyn Nets,131,Indiana Pacers,140,0.0,0.0
4,2017-10-18,Miami Heat,109,Orlando Magic,116,0.0,0.0
...,...,...,...,...,...,...,...
99,2017-10-30,Golden State Warriors,141,Los Angeles Clippers,113,0.0,1.0
100,2017-10-31,Sacramento Kings,83,Indiana Pacers,101,1.0,1.0
101,2017-10-31,Phoenix Suns,122,Brooklyn Nets,114,2.0,1.0
102,2017-10-31,Oklahoma City Thunder,110,Milwaukee Bucks,91,2.0,1.0
103,2017-10-31,Detroit Pistons,93,Los Angeles Lakers,113,1.0,2.0